<div class="container">
        <div class="row">
          <div class="col-12 mt-3">
              <div class="card">
                <div class="card-header d-flex align-items-start justify-content-between">
                  <h1 class="card-title my-0">{{movies[thisItem].name | uppercase}}</h1>
                  <nav class="btn-group">
                    <a class="btn btn-sm btn-secondary" 
                      href="#/details/{{prevItem}}">&lt;</a>
                    <a class="btn btn-sm btn-secondary" 
                      href="#/">&bull;</a>
                    <a class="btn btn-sm btn-secondary" 
                      href="#/details/{{nextItem}}">&gt;</a>
                  </nav>
                </div>
                <div class="card-body"
                  ng-model="movies">
                  <h4 class="card-title text-dark mt-0">{{movies[thisItem].director}}</h4>
                  <img height="360" class="float-left mr-4 rounded"
                    ng-src="images/{{movies[thisItem].imagename}}.jpg"
                    alt="Photo of {{movies[thisItem].name}}">
                  <div class="card-text text-secondary movie-details-wrapper">
                    <div class="d-flex">
                        <div class="movie-details-title">
                            <span >Director:</span>
                            <span class="spaces-util">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <div class="writer-director">
                            {{movies[thisItem].director}}
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="movie-details-title">
                            <span>Writers:</span>
                            <span class="spaces-util">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <div class="writer-details">
                            <span ng-repeat="writer in movies[thisItem].writer">{{writer}}, &nbsp;</span>
                        </div>
                    </div>
                    <div  class="d-flex">
                        <div class="movie-details-title">
                            <span>genre:</span>
                            <span class="spaces-util">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <div class="genre-details">
                            <span ng-repeat="(key, genre) in movies[thisItem].genre">{{genre}}, &nbsp;</span>
                        </div>
                    </div>
                    <div class="lead mt-4">
                        {{movies[thisItem].fulldescription}}</div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>