.movie-item {
    cursor: pointer;
}

.media-body .title{
    text-transform: capitalize;
}

.media-body .genre{
    text-transform: capitalize;
}

.movie-details-wrapper {
    font-size: 17px;
}
.shortdescription  {
    color: #555;
}
.link-details:hover {
    text-decoration: none;
}